<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cm -->
      <package
            uri="http://www.example.org/eaeu/cm"
            class="eaeu.cm.CMPackage"
            genModel="model/cm.genmodel"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
         type="cm"
         class="eaeu.cm.CMResourceFactory">
      </parser>
   </extension>


</plugin>
