<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated cm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="eaeu.cm.presentation.CMModelWizardID"
            name="%_UI_CMModelWizard_label"
            class="eaeu.cm.presentation.CMModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CMModelFile.gif">
         <description>%_UI_CMModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated cm -->
      <editor
            id="eaeu.cm.presentation.CMEditorID"
            name="%_UI_CMEditor_label"
            icon="icons/full/obj16/CMModelFile.gif"
            extensions="cm"
            class="eaeu.cm.presentation.CMEditor"
            contributorClass="eaeu.cm.presentation.CMActionBarContributor">
      </editor>
   </extension>

</plugin>
